<% include header %>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h4>All Courses</h4>
        </div>
      </div>

         <div class="row">
<%for (var course in courses){%>
         <div class="col-sm-3 ">
          <div class="c row">
          <a href="/student/course/<%= courses[course]._id %>">
             <div class="col-xs-2 col-sm-12" style="padding: 0px;">
               <div style="overflow: hidden;">
                  <img class="" style="width: 100%;" src="/upload/<%= courses[course].cover %>">
               </div>
             </div>
              <div class="col-xs-10 col-sm-12" ">
                 <p class=""><strong><%= courses[course].title %></strong></p>
                 <p style="padding-top: 0px;"><%= courses[course].code %></p>
                 <p>By <%= courses[course].author.title %> <%= courses[course].author.firstname %> <%= courses[course].author.lastname %>.</p>
              </div>
              </a>
          </div>
        </div>
<%}%>


       
       

        
      </div>
      </div> 

<% include footer %>